:root {
  --white: white;
  --black: black;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #ebebeb;
  background-color: #181717;
  flex-direction: column;
  justify-content: space-between;
  font-family: Notosansdisplay, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h1 {
  font-variation-settings:
    "opsz" 35.8,
    "wdth" 99.5,
    "wght" 594;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Exo, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

h2 {
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Exo, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

h3 {
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Exo, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h4 {
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Exo, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.2rem;
}

h5 {
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Exo, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
}

h6 {
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Exo, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
}

p {
  margin-bottom: 0;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

label {
  color: #000;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
  display: block;
}

blockquote {
  font-variation-settings: normal;
  border-left: 0.3rem solid rgba(255, 255, 255, 0.3);
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family:
    PT Sans,
    sans-serif;
  font-style: italic;
  font-weight: 400;
}

.utility-page-wrap {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.logo {
  color: #7a7878;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Neuropol, sans-serif;
  font-size: 4.9rem;
  font-weight: 400;
  line-height: 4.9rem;
  display: inline-block;
}

.content-frame {
  width: 100%;
  max-width: 90rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: minmax(12rem, 0.25fr) 1fr minmax(12rem, 0.25fr);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo-r-spacing {
  letter-spacing: -9px;
}

.col-quincy-granite {
  background-color: #b5b3ae;
}

.icon-m {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  display: inline-block;
}

.icon-m.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-m.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.heading3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.text-l {
  font-size: 120%;
  line-height: 130%;
}

.col-modestly-peach {
  background-color: #eda59f;
}

.col-pipe-clay {
  background-color: #cac8bc;
}

.heading6 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.col-chateau-rose {
  background-color: #dba2ca;
}

.col-template {
  background-color: #a3c8e3;
}

.icon-xs {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 0.8rem;
  line-height: 0.8rem;
  display: inline-block;
}

.icon-xs.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-xs.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.text-white {
  color: #fff;
}

.spacer-m {
  width: 2rem;
  height: 2rem;
  flex: none;
  display: block;
}

.col-ambassador-blue {
  background-color: #10325c;
}

.col-faded-grey {
  background-color: #e9e8e3;
}

.col-dragons-breath {
  background-color: #d41200;
}

.col-wintermint {
  background-color: #96cfbd;
}

.button {
  min-width: 10rem;
  text-align: center;
  background-color: #fafafa;
  border-radius: 0.3rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition:
    transform 0.4s,
    background-color 0.2s;
}

.button:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: #e7e7e7;
  transform: translate(-4px);
}

.button.darkmode {
  color: #fff;
  background-color: #5e5e5e;
}

.button.darkmode:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: gray;
}

.button.darkmode.border {
  border: 0.125rem solid #e6e6e6;
}

.button.border {
  color: #000;
  border: 0.125rem solid #e6e6e6;
}

.button.border.darkmode {
  color: #fff;
}

.button.border.darkmode:hover {
  color: rgba(255, 255, 255, 0.7);
}

.button.border.navbutton {
  min-width: 0;
  color: #000;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.button.border.navbutton:hover {
  transform: scale(1.05);
}

.button.arrow-anim {
  max-width: 10rem;
  color: #000;
  justify-content: space-between;
  transition:
    padding 0.2s,
    background-color 0.2s;
  display: flex;
}

.button.arrow-anim:hover {
  padding-right: 0.9rem;
  transform: none;
}

.button.black {
  color: #000;
}

.button.outline {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 0.125rem solid #e6e6e6;
}

.button.outline.navbutton {
  min-width: 0;
  color: #fff;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.button.outline.navbutton:hover {
  transform: scale(1.05);
}

.icon-s {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 1.1rem;
  line-height: 1.1rem;
  display: inline-block;
}

.icon-s.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-s.brands.footer {
  color: #bdbdbd;
}

.icon-s.brands.footer:hover {
  color: #d8d8d8;
}

.icon-s.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-s.solid.arrowbutton {
  width: 3rem;
  height: 3rem;
  border: 0.125rem solid #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-s.solid.navbutton {
  color: #c2a66d;
  margin-left: 0.3rem;
  transition: text-shadow 0.4s;
}

.icon-s.solid.navbutton:hover {
  text-shadow:
    0 0 15px #48b5f8,
    0 0 15px #48b5f8;
}

.icon-s.solid.footer {
  color: #bdbdbd;
}

.icon-s.solid.footer:hover {
  color: #d8d8d8;
}

.col-baltic-trench {
  background-color: #155861;
}

.col-yellow-canary {
  background-color: #ffebae;
}

.heading2 {
  font-size: 3rem;
  line-height: 3rem;
}

.col-tanzanian-gold {
  background-color: #fcd115;
}

.col-white {
  background-color: #fff;
}

.success-message {
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.col-peach-damask {
  background-color: #f8c5a5;
}

.text-spanish-grey {
  color: #989898;
  font-weight: 400;
}

.heading4 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.col-patio-stone {
  background-color: #6c665d;
}

.col-arancio {
  background-color: #ff6d0f;
}

.icon-l {
  cursor: pointer;
  font-family: "Fa 400", sans-serif;
  font-size: 2.7rem;
  line-height: 2.7rem;
  display: inline-block;
}

.icon-l.brands {
  font-family: "Fa brands 400", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.icon-l.solid {
  font-family: "Fa solid 900", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.col-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.text-modestly-peach {
  color: #eda59f;
}

.heading5 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.text-black {
  color: #000;
}

.text-black.left {
  text-align: left;
}

.heading1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.some-wrapper {
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  justify-self: center;
  align-items: center;
  justify-items: start;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  display: grid;
}

.some-wrapper:hover {
  grid-column-gap: 0.7rem;
}

.error-message {
  color: #000;
  margin-top: 1rem;
  padding: 1rem;
}

.text-s {
  font-size: 70%;
  line-height: 150%;
}

.col-maire {
  background-color: #2c2821;
}

.col-black {
  background-color: #000;
}

.input {
  color: #ebebeb;
  background-color: #504e4e;
  border: 0.08rem solid #777;
  border-radius: 0.3rem;
  margin-bottom: 0;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.input.message {
  min-height: 7rem;
}

.input.checkbox {
  align-items: center;
  padding: 0.5rem 1rem;
  display: flex;
}

.input.radio {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  display: flex;
}

.input.select {
  min-height: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.col-magnetos-magenta {
  background-color: #a12387;
}

.text-magnetos-magenta {
  color: #a12387;
}

.form-wrapper {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
}

.palette {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #7e7d7d;
  flex: 1;
  grid-template-rows: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 5rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: start;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: grid;
}

.col-beautiful-blue {
  background-color: #1572b9;
}

.col-dead-pixel {
  background-color: #3a3a3a;
}

.col-bleached-silk {
  background-color: #f3f3f3;
}

.text-baltic-trench {
  color: #155760;
}

.heading {
  font-family: Exo, sans-serif;
}

.spacer-s {
  width: 1rem;
  height: 1rem;
  flex: none;
  display: block;
}

.spacer-l {
  width: 4rem;
  height: 4rem;
  flex: none;
  display: block;
}

.image-overlay {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-overlay.black-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.image-overlay.white-5 {
  background-color: rgba(255, 255, 255, 0.05);
}

.image-overlay.slow-scroll {
  display: flex;
  overflow: hidden;
}

.image-overlay.fixed-image--name {
  background-image: url("../images/pexels-rachel-claire-4825701.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-links {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-end;
  align-items: center;
  justify-items: stretch;
  display: grid;
}

.subscription-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.25fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.divider {
  width: 100%;
  height: 5rem;
  background-color: #272727;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
}

.instagram-item {
  padding-top: 100%;
  position: relative;
}

.navbar-logo {
  width: 86%;
  align-items: center;
  transition: margin 0.2s;
  display: flex;
}

.navbar-logo:hover {
  margin-left: 0.5rem;
}

.navbar-sandwich {
  width: 1.6rem;
  height: 1.6rem;
  filter: invert();
  cursor: pointer;
  display: none;
  position: relative;
}

.navbar-sandwich.large {
  width: 2.2rem;
  height: 2.2rem;
}

.footer-header {
  color: #c5c5c5;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.dynamic-item {
  background-color: #3a3737;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
}

.content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template:
    "."
    / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: grid;
  position: relative;
}

.content.footer {
  background-image: linear-gradient(
      rgba(66, 62, 60, 0.93),
      rgba(66, 62, 60, 0.93)
    ),
    url("../assets/pexels-iva-mu.jpg");
  background-position:
    0 0,
    0 0;
  background-size: auto, cover;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0;
  padding: 3rem 1rem 5rem;
}

.content.footer.center {
  grid-template-columns: 1fr;
}

.content.navbar {
  z-index: 1;
  grid-template-columns: 0.25fr 1fr;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  overflow: visible;
}

.content.quote {
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content.heading {
  min-height: 35rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.content.heading.slim {
  min-height: 0;
  grid-template-rows: auto;
}

.content.heading.full {
  min-height: 50rem;
}

.content.heading.video {
  min-height: 0;
  grid-template-rows: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.content.instagram {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.content.product-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content.full {
  height: auto;
  min-height: 100vh;
}

.content.blog-list {
  grid-template-columns: 1fr 1fr;
}

.content.contact {
  grid-template-columns: 0.25fr 1fr 0.25fr;
}

.content.shifted {
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 0.25fr;
}

.content.accordition {
  grid-template-rows: auto;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.content._1-2 {
  grid-template-columns: 0.5fr 1fr;
}

.content._2-1 {
  grid-template-columns: 1fr 0.5fr;
}

.content.gallery {
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content-info {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
}

.content-info.instagram {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0;
}

.content-info.center {
  text-align: center;
  align-items: center;
}

.content-info.padding {
  grid-area: 1 / 2 / 2 / 3;
  padding: 2rem;
}

.content-info._1-2 {
  padding: 2rem;
}

.content-info.video-heading {
  grid-area: 1 / 2 / 2 / 3;
  padding: 2rem;
}

.footer-logo {
  width: 11.1rem;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.footer-logo:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.image:hover {
  transform: scale(1.01);
}

.image.product,
.image.blog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image.contain {
  object-fit: contain;
}

.image.full {
  width: 100%;
  height: 100%;
}

.image.instagram {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image.slow-scroll {
  height: auto;
  min-height: 100vh;
  transition-property: none;
}

.image.lightbox {
  max-width: 85%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.image.lightbox.source-wrapper {
  max-width: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dynamic-item-wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 2rem;
  text-decoration: none;
  position: relative;
}

.image-wrapper {
  position: relative;
}

.image-wrapper.product,
.image-wrapper.blog {
  margin-bottom: 1rem;
  padding-top: 78%;
}

.underline {
  text-decoration: underline;
}

.rubrik {
  margin-bottom: 0.3rem;
  font-weight: 700;
}

.rubrik.no-margin {
  margin-bottom: 0;
}

.navlink {
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s;
  display: flex;
}

.navlink:hover {
  transform: scale(1.03);
}

.navbar-arrow {
  display: none;
}

.button-arrow {
  font-family: "Fa solid 900", sans-serif;
}

.footerlink-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footerlink-block.center {
  align-items: center;
}

.footer-line {
  width: 63%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.29);
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.full {
  height: 100vh;
  min-height: 50rem;
}

.hide1 {
  display: none;
}

.accordion-item {
  color: #000;
  text-align: left;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
}

.accordion-item-trigger {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.accordion-item-content {
  margin-top: 1rem;
  margin-right: 2rem;
  overflow: hidden;
}

.gallery-wrapper {
  column-count: 3;
  column-gap: 1rem;
}

.gallery-item {
  cursor: pointer;
  margin-bottom: 1rem;
}

.gallery-lightbox {
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lightbox-arrow {
  justify-content: center;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
}

.lightbox-arrow.left {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.lightbox-arrow.right {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.lightbox-close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  bottom: auto;
  left: auto;
  right: 1.1rem;
}

.gallery-loader {
  column-count: 3;
  justify-content: center;
  align-items: stretch;
  column-gap: 1rem;
  display: flex;
}

.lottie-loader {
  width: 9rem;
}

.gallery-app {
  flex-direction: column;
}

.footer-blob {
  opacity: 0;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  margin-left: -3rem;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  transition:
    margin-left 0.2s,
    opacity 0.2s;
  position: absolute;
  top: auto;
  bottom: 1.8rem;
  left: auto;
  right: auto;
}

.text-span {
  font-family: Oswald, sans-serif;
}

.text-span-2 {
  font-family:
    Open Sans,
    sans-serif;
}

.text-span-3 {
  font-family: Montserrat, sans-serif;
}

.text-span-4 {
  font-family: Merriweather, serif;
}

.text-span-5 {
  font-family: Neuropol, sans-serif;
}

.text-span-6 {
  font-family: "Fa brands 400", sans-serif;
}

.text-span-7 {
  font-family: "Fa solid 900", sans-serif;
}

.text-span-8 {
  font-family: "Fa brands 400", sans-serif;
}

.text-span-9 {
  font-family: "Fa 400", sans-serif;
}

.text-span-10 {
  font-family: "Fa brands 400", sans-serif;
}

.text-span-11 {
  color: #dd4141;
  font-family: "Fa solid 900", sans-serif;
}

.body-full {
  min-height: 100vh;
  display: flex;
}

.checker {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0;
}

.checker.radio {
  color: #fff;
}

.checker.radio.w--redirected-checked {
  background-color: #fff;
}

.radio-wrapper {
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0;
  display: flex;
}

.dropdown-item {
  text-decoration: none;
}

.dropdown {
  grid-column-gap: 0.5rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  display: grid;
  position: relative;
}

.dropdown-list {
  text-transform: uppercase;
  white-space: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.9rem;
  font-size: 0.8rem;
  line-height: 1.7rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-links-wide {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-end;
  align-items: center;
  justify-items: stretch;
  display: grid;
}

.footerlink {
  color: #989898;
  margin-bottom: 0.7rem;
  text-decoration: none;
}

.footerlink:hover {
  color: rgba(185, 185, 185, 0.93);
}

.file-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.3rem;
  display: flex;
}

.navicon-wrapper {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.3rem;
  position: relative;
}

.navicon {
  width: 1.1rem;
  height: 1.1rem;
  color: #c2a66d;
  font-size: 1.1rem;
  line-height: 1.1rem;
  transition: opacity 0.4s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navicon.blur {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  filter: blur(6px);
  color: #48b5f8;
  top: -9%;
  left: -16%;
}

.html-embed {
  grid-area: 1 / 1 / 2 / 4;
  align-self: stretch;
  justify-self: stretch;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }

  h3 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading3 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .heading6 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .button.border.navbutton,
  .button.outline.navbutton {
    margin-top: 1rem;
  }

  .heading2 {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }

  .heading4 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading5 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .heading1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .palette {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .navbar-links {
    z-index: 1;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    background-color: #444442;
    border-radius: 0.2rem;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    padding: 1.5rem 1.5rem 2rem;
    position: absolute;
    top: 4.7rem;
    bottom: auto;
    left: auto;
    right: 0.7rem;
  }

  .subscription-wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .navbar-logo {
    width: 80%;
  }

  .navbar-sandwich {
    display: block;
  }

  .navbar-sandwich.large {
    width: 3rem;
    height: 3rem;
    align-self: center;
    justify-self: end;
  }

  .content.navbar {
    z-index: 100;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  .content.quote {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .content.heading {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content.product-list {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .content.accordition {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content._1-2 {
    grid-template-columns: 0.75fr 1fr;
  }

  .content._2-1 {
    grid-template-columns: 1fr 0.75fr;
  }

  .content.gallery {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .image.lightbox {
    max-width: 80%;
  }

  .dynamic-item-wrapper {
    padding: 0.7rem 0.7rem 1.5rem;
  }

  .navlink {
    justify-self: end;
  }

  .navbar-arrow {
    border: 0.7rem solid rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-bottom: 1rem solid #444442;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: absolute;
    top: -5%;
    bottom: auto;
    left: 88%;
    right: auto;
  }

  .accordion-item {
    flex: 1;
  }

  .hide2 {
    display: none;
  }

  .footer-blob.heart {
    left: 14.1rem;
  }

  .dropdown-item {
    line-height: 2rem;
  }

  .dropdown {
    grid-row-gap: 0.7rem;
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
  }

  .dropdown-list {
    margin-bottom: 1rem;
    padding-top: 0;
    position: static;
  }

  .navbar-links-wide {
    width: 13.5rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    background-color: #302b29;
    border-radius: 0.2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    align-items: center;
    justify-items: start;
    padding: 4rem 1.5rem 2rem;
    display: none;
    position: absolute;
    top: 0.8rem;
    bottom: auto;
    left: auto;
    right: 0;
    box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  h5 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  label {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }

  .logo {
    font-size: 3.7rem;
    line-height: 3.7rem;
  }

  .icon-m {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .heading3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading6 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .button {
    min-width: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .icon-s {
    font-size: 1rem;
    line-height: 1rem;
  }

  .icon-s.solid.arrowbutton {
    width: 2rem;
    height: 2rem;
  }

  .heading2 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .heading4 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .icon-l {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .heading5 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .heading1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .input.checkbox {
    padding: 0.7rem;
  }

  .input.radio {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .input.select {
    min-height: 0;
  }

  .navbar-links {
    z-index: 1;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    position: absolute;
    top: 4rem;
    bottom: auto;
    left: auto;
    right: 0.6rem;
  }

  .subscription-wrapper {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: flex-start;
  }

  .navbar-logo {
    width: 100%;
  }

  .navbar-sandwich {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footer-header {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .content.navbar {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  .content.heading.full {
    min-height: 35rem;
  }

  .content.heading.video {
    grid-template-columns: 1rem 1fr 1rem;
  }

  .content.instagram {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content.product-list {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
  }

  .content.blog-list {
    grid-template-columns: 1fr 1fr;
  }

  .content.contact {
    grid-template-columns: 1fr;
  }

  .content.shifted {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content.accordition {
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .content._1-2,
  .content._2-1 {
    grid-template-columns: 1fr;
  }

  .content-info {
    padding-bottom: 1rem;
  }

  .content-info.padding,
  .content-info._1-2,
  .content-info.video-heading {
    padding: 1rem;
  }

  .footer-logo {
    width: 6.8rem;
  }

  .navlink {
    padding-right: 0;
    position: relative;
  }

  .navbar-arrow {
    left: 86%;
  }

  .accordion-item-content {
    margin-right: 0;
  }

  .hide3 {
    display: none;
  }

  .gallery-wrapper,
  .gallery-loader {
    column-count: 2;
  }

  .footer-blob.heart {
    left: 7.4rem;
  }

  .checker {
    width: 0.8rem;
    height: 0.8rem;
  }

  .navbar-links-wide {
    width: 100%;
    flex-direction: column;
    grid-auto-columns: 1fr;
    align-items: start;
    position: absolute;
    top: 0.5rem;
    bottom: auto;
    left: 0;
    right: 0;
  }

  .footerlink {
    margin-bottom: 0.5rem;
  }

  .file-wrapper {
    margin-bottom: 0.2rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .logo {
    font-size: 3rem;
    line-height: 3rem;
  }

  .content-frame {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading3 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .heading2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .heading4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .heading1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .error-message {
    padding-right: 0.5rem;
  }

  .form-wrapper {
    grid-template-columns: 1fr;
  }

  .palette {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .navbar-links {
    grid-column-gap: 0.25rem;
    grid-row-gap: 1rem;
    top: 3.9rem;
    right: 0.4rem;
  }

  .navbar-sandwich {
    width: 1.4rem;
    height: 1.4rem;
  }

  .navbar-sandwich.large {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer-header {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  .content {
    grid-auto-rows: auto;
  }

  .content.footer {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .content.navbar {
    grid-template-columns: 1fr 1fr;
  }

  .content.heading {
    grid-template-columns: 1rem 1fr 1rem;
  }

  .content.heading.full {
    min-height: 50rem;
  }

  .content.heading.video {
    grid-template-rows: auto auto;
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content.instagram {
    grid-template-columns: 1fr 1fr;
  }

  .content.product-list,
  .content.blog-list {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .content.shifted {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .content-info {
    width: 100%;
  }

  .content-info.padding,
  .content-info.video-heading {
    grid-area: 2 / 1 / 2 / 4;
  }

  .image.lightbox {
    max-width: 100%;
  }

  .dynamic-item-wrapper {
    padding: 0.5rem 0.5rem 1.2rem;
  }

  .footerlink-block {
    width: 100%;
    align-items: center;
  }

  .hide4 {
    display: none;
  }

  .gallery-wrapper,
  .gallery-loader {
    column-count: 1;
  }

  .footer-blob.heart {
    bottom: 4.5rem;
    left: 0;
  }

  .footer-blob.star {
    bottom: 5rem;
  }

  .dropdown-item {
    line-height: 2.5rem;
  }

  .navbar-links-wide {
    width: 100%;
    grid-column-gap: 0.25rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: start;
  }
}

#w-node-_8c38236f-6487-952c-a523-6fc9e0f39954-e0f3994e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8c38236f-6487-952c-a523-6fc9e0f39955-e0f3994e {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_4f09eefc-c824-4a10-af60-7ecb1fcd943e-1fcd943d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4f09eefc-c824-4a10-af60-7ecb1fcd943f-1fcd943d {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_4db7cc3f-3306-1a5a-cc2e-69bfa2546b89-a2546b88 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4db7cc3f-3306-1a5a-cc2e-69bfa2546b8a-a2546b88 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_4db7cc3f-3306-1a5a-cc2e-69bfa2546b8b-a2546b88 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4db7cc3f-3306-1a5a-cc2e-69bfa2546b8c-a2546b88 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e23-40f79664 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e24-40f79664 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e40-40f79664,
#w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e41-40f79664 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-40f79664 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-a8a66314-c68d-cad2-0145-df7db5dbe043-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe044-40f79664 {
  align-self: stretch;
  justify-self: stretch;
}

#w-node-a8a66314-c68d-cad2-0145-df7db5dbe045-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe046-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe047-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe048-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe049-40f79664 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-a8a66314-c68d-cad2-0145-df7db5dbe04a-40f79664 {
  align-self: stretch;
  justify-self: stretch;
}

#w-node-a8a66314-c68d-cad2-0145-df7db5dbe04b-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe04c-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe04d-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe04e-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe04f-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe050-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe051-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe052-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe053-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe054-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe055-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe056-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe057-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe058-40f79664,
#w-node-a8a66314-c68d-cad2-0145-df7db5dbe059-40f79664 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_03c7a3cd-b22b-3249-fcb6-e22bcdab011e-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-1c4a4f82 {
  grid-area: 2 / 4 / 4 / 6;
}

#w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-1c4a4f82 {
  grid-area: 1 / 2 / 3 / 4;
  align-self: center;
  justify-self: center;
}

#w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb829-1c4a4f82 {
  grid-area: 2 / 2 / 4 / 4;
}

#w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb82e-1c4a4f82 {
  grid-area: 1 / 4 / 3 / 6;
  align-self: center;
  justify-self: center;
}

#w-node-_74c90d3b-e7b6-af26-671c-6b3f92d532ca-1c4a4f82,
#w-node-_27785695-d0db-7dd6-d50f-7bf67b81743b-1c4a4f82,
#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9210-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_90ea9308-3dce-5432-bb73-59bb4e618335-1c4a4f82 {
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_90ea9308-3dce-5432-bb73-59bb4e618337-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_90ea9308-3dce-5432-bb73-59bb4e61834f-1c4a4f82 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: end;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d761a-1c4a4f82 {
  align-self: stretch;
  justify-self: stretch;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d761c-1c4a4f82,
#w-node-f4b3aa32-a822-3505-14e4-b064c82d761d-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d761f-1c4a4f82 {
  justify-self: center;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d7624-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d762b-1c4a4f82 {
  justify-self: center;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d7630-1c4a4f82,
#w-node-f4b3aa32-a822-3505-14e4-b064c82d7637-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f4b3aa32-a822-3505-14e4-b064c82d763b-1c4a4f82 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: end;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e0e-1c4a4f82,
#w-node-_38b1804a-95ba-1841-13b0-720daf099e19-1c4a4f82,
#w-node-_38b1804a-95ba-1841-13b0-720daf099e26-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e33-1c4a4f82 {
  align-self: center;
  justify-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e35-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e37-1c4a4f82,
#w-node-_38b1804a-95ba-1841-13b0-720daf099e39-1c4a4f82 {
  align-self: center;
  justify-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e3b-1c4a4f82 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  justify-self: center;
}

#w-node-_38b1804a-95ba-1841-13b0-720daf099e3c-1c4a4f82 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  align-self: start;
  justify-self: center;
}

#w-node-_17961ec3-e93c-570f-31cf-b49a986ca620-1c4a4f82,
#w-node-_17961ec3-e93c-570f-31cf-b49a986ca5f2-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: center;
}

#w-node-_17961ec3-e93c-570f-31cf-b49a986ca61f-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_915119b6-f847-bd2e-7a90-6ea01bc093f8-1c4a4f82,
#w-node-_915119b6-f847-bd2e-7a90-6ea01bc093fa-1c4a4f82 {
  align-self: center;
  justify-self: center;
}

#w-node-_915119b6-f847-bd2e-7a90-6ea01bc093fc-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_915119b6-f847-bd2e-7a90-6ea01bc093fe-1c4a4f82,
#w-node-_915119b6-f847-bd2e-7a90-6ea01bc09400-1c4a4f82 {
  align-self: center;
  justify-self: center;
}

#w-node-_915119b6-f847-bd2e-7a90-6ea01bc09402-1c4a4f82,
#w-node-_915119b6-f847-bd2e-7a90-6ea01bc09407-1c4a4f82,
#w-node-_62f07d51-a86b-c5fd-f8d1-de206dfec7f6-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6be47dab-ea80-04b8-52d1-62998c6c3855-1c4a4f82 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_222bd875-51b8-95b7-2214-c25fa1385712-1c4a4f82 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_63f37167-017c-701e-917e-453a30c7dced-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_63f37167-017c-701e-917e-453a30c7dcef-1c4a4f82 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_06946532-1063-fa98-a8c2-b35108c9a921-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_06946532-1063-fa98-a8c2-b35108c9a923-1c4a4f82 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9221-1c4a4f82 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  align-self: center;
  justify-self: stretch;
}

#w-node-_9d413a24-3918-5238-511d-99949ec55fe0-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9d413a24-3918-5238-511d-99949ec55fe1-1c4a4f82 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_9d413a24-3918-5238-511d-99949ec55fe2-1c4a4f82 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a5-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a6-1c4a4f82 {
  grid-area: 1 / 1 / 4 / 4;
}

#w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a7-1c4a4f82 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-fb622c0d-a282-cea6-8d4c-16ac2b8e6514-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-fb622c0d-a282-cea6-8d4c-16ac2b8e6516-1c4a4f82 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-edce57e4-cfaf-5916-f7d0-27d6eb7442b6-1c4a4f82 {
  grid-area: 1 / 1 / 2 / 4;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_9219989e-4821-7987-79b9-fb5e5e7efe7e-1c4a4f82 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e66bf86d-74ee-f505-e05c-aa73c70e51af-1c4a4f82 {
  grid-area: 1 / 1 / 4 / 4;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-dd2acfce-c357-a183-2a43-cff699e78aa3-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e66bf86d-74ee-f505-e05c-aa73c70e51b0-1c4a4f82 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f92ec-1c4a4f82 {
  grid-area: span 1 / span 6 / span 1 / span 6;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_49852f7f-9875-8eea-b882-2705877229f1-1c4a4f82,
#w-node-_036b703c-3896-2e49-d33f-ac7caab79069-1c4a4f82,
#w-node-cbdf8af3-c567-3d70-5018-e3b6c2b03a04-1c4a4f82,
#w-node-f9f5d891-0fe4-014d-5b03-ea148330d6c7-1c4a4f82,
#w-node-eaa26c29-3ba6-edca-376d-577689142cf0-1c4a4f82,
#w-node-_3c597adc-f453-ec92-47e4-e1b31f9ab4fd-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9300-1c4a4f82 {
  align-self: center;
  justify-self: stretch;
}

#w-node-_0633c5f5-acf0-be07-7805-4fb2e4ff7627-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#email.w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9303-1c4a4f82,
#w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9304-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_5ab97129-945d-64be-f67f-b456098ffa5f-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5ab97129-945d-64be-f67f-b456098ffa60-1c4a4f82 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_5ab97129-945d-64be-f67f-b456098ffa62-1c4a4f82 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_5ab97129-945d-64be-f67f-b456098ffa7b-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffa7f-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffa86-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffa92-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffa96-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffa9b-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffaa8-1c4a4f82,
#w-node-_5ab97129-945d-64be-f67f-b456098ffaa9-1c4a4f82 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6fa08eeb-4192-ef23-aa73-19ad4c75033a-1c4a4f82 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6fa08eeb-4192-ef23-aa73-19ad4c75033b-1c4a4f82 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: stretch;
}

#w-node-_3e5e0b11-95e2-c241-b26d-54365cf31b37-1c4a4f82,
#w-node-_3e5e0b11-95e2-c241-b26d-54365cf31b45-1c4a4f82,
#w-node-_45dc2f3d-656d-768c-8ca1-a61aff355460-ff35545f,
#w-node-_45dc2f3d-656d-768c-8ca1-a61aff35546e-ff35545f,
#w-node-df18a0f9-08b9-4bdb-048a-5405506bf358-506bf357 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-df18a0f9-08b9-4bdb-048a-5405506bf359-506bf357 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-df18a0f9-08b9-4bdb-048a-5405506bf35b-506bf357 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-df18a0f9-08b9-4bdb-048a-5405506bf377-506bf357,
#w-node-df18a0f9-08b9-4bdb-048a-5405506bf381-506bf357,
#w-node-df18a0f9-08b9-4bdb-048a-5405506bf382-506bf357 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-40f79664 {
    grid-column: span 4 / span 4;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-1c4a4f82 {
    grid-area: 2 / 4 / 4 / 7;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-1c4a4f82 {
    grid-area: 1 / 1 / 3 / 4;
    align-self: center;
    justify-self: center;
  }

  #w-node-_74c90d3b-e7b6-af26-671c-6b3f92d532ca-1c4a4f82,
  #w-node-_27785695-d0db-7dd6-d50f-7bf67b81743b-1c4a4f82 {
    align-self: stretch;
    justify-self: stretch;
  }

  #w-node-_90ea9308-3dce-5432-bb73-59bb4e618338-1c4a4f82 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-f4b3aa32-a822-3505-14e4-b064c82d761f-1c4a4f82 {
    justify-self: auto;
  }

  #w-node-f4b3aa32-a822-3505-14e4-b064c82d7624-1c4a4f82 {
    grid-column: span 2 / span 2;
  }

  #w-node-f4b3aa32-a822-3505-14e4-b064c82d762b-1c4a4f82 {
    justify-self: auto;
  }

  #w-node-f4b3aa32-a822-3505-14e4-b064c82d7630-1c4a4f82 {
    grid-column: span 2 / span 2;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e3c-1c4a4f82,
  #w-node-_17961ec3-e93c-570f-31cf-b49a986ca620-1c4a4f82 {
    justify-self: center;
  }

  #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51af-1c4a4f82 {
    grid-row-end: 2;
  }

  #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51b0-1c4a4f82 {
    grid-row: 1 / 2;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9304-1c4a4f82 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_8c38236f-6487-952c-a523-6fc9e0f3994f-e0f3994e {
    grid-area: 2 / 1 / 2 / 2;
  }

  #w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-40f79664 {
    grid-column: span 4 / span 4;
  }

  #w-node-_03c7a3cd-b22b-3249-fcb6-e22bcdab0117-1c4a4f82 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-1c4a4f82 {
    grid-area: 2 / 3 / 4 / 5;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-1c4a4f82 {
    grid-area: 1 / 1 / 3 / 3;
    align-self: center;
    justify-self: center;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb829-1c4a4f82 {
    grid-area: 2 / 1 / 4 / 3;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb82e-1c4a4f82 {
    grid-area: 1 / 3 / 3 / 5;
    align-self: center;
    justify-self: center;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9209-1c4a4f82 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_90ea9308-3dce-5432-bb73-59bb4e61834f-1c4a4f82,
  #w-node-f4b3aa32-a822-3505-14e4-b064c82d763b-1c4a4f82 {
    align-self: center;
    justify-self: end;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f92ec-1c4a4f82 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f9304-1c4a4f82 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_5ab97129-945d-64be-f67f-b456098ffa60-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffa62-1c4a4f82,
  #w-node-_6fa08eeb-4192-ef23-aa73-19ad4c75033b-1c4a4f82,
  #w-node-df18a0f9-08b9-4bdb-048a-5405506bf359-506bf357,
  #w-node-df18a0f9-08b9-4bdb-048a-5405506bf35b-506bf357 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_4f09eefc-c824-4a10-af60-7ecb1fcd943f-1fcd943d {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_4db7cc3f-3306-1a5a-cc2e-69bfa2546b8c-a2546b88 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-c29e956b-c0f7-6d24-d53d-0df21ad03e41-40f79664 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-de0b2fc4-417c-7050-ba42-89d526a5e31d-40f79664 {
    grid-column: span 2 / span 2;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5b6-1c4a4f82 {
    grid-area: 2 / 2 / 3 / 4;
  }

  #w-node-_39034a52-3670-f5f2-cbd8-0bfbd233f5bb-1c4a4f82 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
    justify-self: center;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb829-1c4a4f82 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_83e5ee39-e0c1-8dcf-e1d2-79e2645fb82e-1c4a4f82 {
    grid-area: 1 / 2 / 2 / 4;
    align-self: center;
    justify-self: center;
  }

  #w-node-f4b3aa32-a822-3505-14e4-b064c82d761d-1c4a4f82 {
    grid-column: span 1 / span 1;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e0e-1c4a4f82,
  #w-node-_38b1804a-95ba-1841-13b0-720daf099e19-1c4a4f82 {
    justify-self: stretch;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e26-1c4a4f82 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: stretch;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e3b-1c4a4f82 {
    grid-column: span 1 / span 1;
  }

  #w-node-_38b1804a-95ba-1841-13b0-720daf099e3c-1c4a4f82,
  #w-node-_17961ec3-e93c-570f-31cf-b49a986ca620-1c4a4f82 {
    grid-column: span 1 / span 1;
    align-self: start;
    justify-self: center;
  }

  #w-node-_17961ec3-e93c-570f-31cf-b49a986ca5f2-1c4a4f82 {
    justify-self: stretch;
  }

  #w-node-_17961ec3-e93c-570f-31cf-b49a986ca61f-1c4a4f82 {
    grid-column: span 1 / span 1;
  }

  #w-node-_222bd875-51b8-95b7-2214-c25fa1385712-1c4a4f82,
  #w-node-_63f37167-017c-701e-917e-453a30c7dcef-1c4a4f82 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_06946532-1063-fa98-a8c2-b35108c9a923-1c4a4f82 {
    grid-area: 2 / 1 / 3 / 4;
  }

  #w-node-_9d413a24-3918-5238-511d-99949ec55fe2-1c4a4f82 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_04a6a43c-047a-343a-adbb-87e75a4fe3a7-1c4a4f82,
  #w-node-fb622c0d-a282-cea6-8d4c-16ac2b8e6516-1c4a4f82 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-edce57e4-cfaf-5916-f7d0-27d6eb7442b6-1c4a4f82,
  #w-node-_9219989e-4821-7987-79b9-fb5e5e7efe7e-1c4a4f82,
  #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51af-1c4a4f82,
  #w-node-e66bf86d-74ee-f505-e05c-aa73c70e51b0-1c4a4f82 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_43f7c9ac-2f0d-d9c0-bf35-395e7c5f92ec-1c4a4f82 {
    grid-area: 1 / 1 / 2 / 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-_5ab97129-945d-64be-f67f-b456098ffa7b-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffa7f-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffa86-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffa92-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffa96-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffa9b-1c4a4f82,
  #w-node-_5ab97129-945d-64be-f67f-b456098ffaa8-1c4a4f82 {
    grid-column: span 1 / span 1;
  }

  #w-node-_5ab97129-945d-64be-f67f-b456098ffaa9-1c4a4f82 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-df18a0f9-08b9-4bdb-048a-5405506bf377-506bf357,
  #w-node-df18a0f9-08b9-4bdb-048a-5405506bf381-506bf357 {
    grid-column: span 1 / span 1;
  }

  #w-node-df18a0f9-08b9-4bdb-048a-5405506bf382-506bf357 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@font-face {
  font-family: "Neuropol";
  src:
    url("../fonts/NEUROPOL.TTF") format("truetype"),
    url("../fonts/NEUROPOL.TTF.eot") format("embedded-opentype"),
    url("../fonts/Neuropol.woff") format("woff"),
    url("../fonts/Neuropol.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Fa brands 400";
  src:
    url("../fonts/fa-brands-400.woff2") format("woff2"),
    url("../fonts/fa-brands-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fa 400";
  src:
    url("../fonts/fa-regular-400.woff2") format("woff2"),
    url("../fonts/fa-regular-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fa solid 900";
  src:
    url("../fonts/fa-solid-900.woff2") format("woff2"),
    url("../fonts/fa-solid-900.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fa v4compatibility";
  src:
    url("../fonts/fa-v4compatibility.woff2") format("woff2"),
    url("../fonts/fa-v4compatibility.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bevellier Variable";
  src: url("../fonts/Bevellier-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("../images/") format("truetype");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Notosansdisplay";
  src: url("../fonts/NotoSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Notosansdisplay";
  src: url("../fonts/NotoSansDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
